client/Android/Diplomacycast/.idea/.name
client/Android/Diplomacycast/.idea/compiler.xml
client/Android/Diplomacycast/.idea/encodings.xml
client/Android/Diplomacycast/.idea/gradle.xml
client/Android/Diplomacycast/.idea/misc.xml
client/Android/Diplomacycast/.idea/modules.xml
client/Android/Diplomacycast/.idea/vcs.xml
client/Android/Diplomacycast/.idea/copyright/profiles_settings.xml
client/Android/Diplomacycast/.idea/scopes/scope_settings.xml
